@page "/jobhistory"
@page "/jobhistory/{jId}"

@attribute [Authorize(Roles = "Admin, User")]

@using Firebase.Auth
@using Blazored.LocalStorage
@using Firebase.Database.Query

@inject FirebaseClient Fc
@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthStateProvider
@inject IAccountManagement Acct

<h2>JobHistory</h2>

@code {
    [Parameter]
    public string? jId { get; set; }


}
