<CascadingAuthenticationState>
<Router AppAssembly="typeof(Layout.MainLayout).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <h1>Not Authorized</h1>
            
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
